@import url("preset.css");

/* colors */
.primary_900 {
  color: var(--primary-900);
}
.primary_800 {
  color: var(--primary-800);
}
.primary_700 {
  color: var(--primary-700);
}
.primary_600 {
  color: var(--primary-600);
}
.primary_500 {
  color: var(--primary-500);
}

.secondary_900 {
  color: var(--secondary-900);
}

.secondary_500 {
  color: var(--secondary-500);
}

.success_500 {
  color: var(--success-500);
}

.error_500 {
  color: var(--error-500);
}

.gray_200 {
  color: var(--gray-200);
}
.gray_100 {
  color: var(--gray-100);
}

.textWhite {
  color: #fff;
}

.text-dark {
  color: #000;
}

/* font sizes */
.caption {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
}

.body-large {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
}

.body-regular {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.body-small {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}


/* global */
.wrapper { 

}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

/* navbar */
.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  margin: 0 auto;
  max-width: 1440px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 80px;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 24px;
}